
<%- include('header') %>
<%- include('nav_gofer') %>
 
<section id="WelcomeSection">

<div class="card1">
    <div class="left column">
        <img src="/images/gofer-hello.png">
        <br>
        <br>
        <h3> Welcome <%=firstname%>!</h3>
    </div>
    <div class="right column">
        <a><button class="lightBtn">Portfolio</button></a>
        <br>
        <a href="/jobListings"><button class="lightBtn">Job Listings</button></a>
        <br>
        <a class="lightBtn"><button ">Saved jobs</button></a>
    </div>
 
</div>

<div id="linksCard">
<a><button class="linkButton">Portfolio</button></a>
<a href="/jobListings"><button class="linkButton">Job Listings</button></a>
<a href="/savedJobs"><button class="linkButton">Saved jobs</button></a>
    
</div>

</section>

<section id="acceptedJobs">
    <h3>Your upcoming Jobs</h3>
    <span> Jobs accepted by you</span>
    <% job.forEach((job) => { %>
        <%- include('jobListing', {job: job})%>
    <% }) %>
</section>


<section id="savedJobs">

</section>


<%- include('../templates/footer') %>