
<%- include('header') %>
<%- include('nav_gofer') %>
 
<section id="WelcomeSection">

<div class="card1">
    <div class="left column">
        <img src="/images/gofer-hello.png">
        <br>
        <br>
        <h3> Welcome <%=firstname%>!</h3>
    </div>
    <div class="right column">
        <a class="lightBtn">Portfolio</a>
        <br>
        <a class="lightBtn" href="/jobListings">Job Listings</a>
        <br>
        <a class="lightBtn">Saved jobs</a>
    </div>
 
</div>
</div>

</section>

<section id="acceptedJobs" class="card3">
    <div class="left">
        <h3>Your upcoming Jobs</h3>
    </div>
    <div class="right">
        <span> Jobs accepted by you</span>
        <% job.forEach((job) => { %>
            <%- include('jobListing', {job: job})%>
        <% }) %>
    </div>
    
</section>


<section id="savedJobs">

</section>


<%- include('../templates/footer') %>

<script>
    var showListing = document.querySelectorAll('.joblisting')
    var dataBtns = document.querySelectorAll('.Btn');

    showListing.forEach((listing, i) => {
                let eachpopup = popups[i];
                let closeBtn = closeBtns[i];
                let eachBtn = dataBtns[i];


    removeBtn.addEventListener('click', () => {
                    var jobId = removeBtn.value;

                    
                acceptBtn.addEventListener('click', () => {
                    var jobId = acceptBtn.value;
                    // confirmationpopup.value = jobId

                    confirmationpopup.querySelector('#message').innerHTML += `Are you sure you want to cancel this job `
                    confirmationpopup.showModal();
                    confirmationpopup.querySelector('#confirmAccept').addEventListener('click', () => {
                        fetch('/canceljob', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ canceljob: true, jobid: jobId })
                        })
                        ; eachpopup.close(); confirmationpopup.close()
                    }
                    )
                    confirmationpopup.querySelector('#close').addEventListener('click', () => confirmationpopup.close())


                })
            });

        })
</script>