
<%- include('header') %>
<%- include('nav_gofer') %>

<section id="WelcomeSection">

<div class="card1">
    <div class="left column">
        <img src="/images/gofer-hello.png">
        <br>
        <br>
        <h3> Welcome <%=firstname%>!</h3>
    </div>
    <div class="right column">
        <a class="lightBtn"  href="/profile" >Profile</a>
        <br>
        <a class="lightBtn" href="/jobListings">Job Listings</a>
        <br>
        <a class="lightBtn" href="/savedJobs" >My Jobs</a>
    </div>
 
</div>
</div>

</section>

<section id="acceptedJobs" class="card3">
    
        <h3 style="text-align: center;">Your upcoming Jobs</h3>
    
        <div id="mainPageScroll">
        <% job.forEach((job) => { %>
            <%- include('jobListing', {job: job, save:false})%>
        <% }) %>
    </div>
    
</section>
<dialog id="popup">
    <div id="message">

    </div>
    <button id="confirmAccept">Confirm</button>
    <button id="close"> Close </button>

</dialog>


<%- include('../templates/footer') %>

<script>
    var showListing = document.querySelectorAll('.joblisting')
    var popup = document.getElementById("popup")
    var dataBtns = document.querySelectorAll('.saveBtn');
    showListing.forEach((listing, i) => {
               
               listing.addEventListener("click", () => {
   
                    
                    console.log(jobId)
                    dataBtn = dataBtns[i]
                    var jobId = dataBtn.value
                   
                    popup.querySelector('#message').innerHTML += `Are you sure you want to cancel this job `
                   
                   popup.showModal();
                   
                   popup.querySelector('#confirmAccept').addEventListener('click', () => {
                        fetch('/canceljob', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ canceljob: true, jobid: jobId })
                            
                        })
                    
                        popup.close();  location.reload()
                    }
                    )
                   
                    popup.querySelector('#close').addEventListener('click', () =>
                   popup.close())


                })
            });

</script>