<div class="listing">
    <div class="topRow">
       <div><%=job.title%></div>
       <div><%=job.date%></div>
    </div>

    <div class="bottomRow">
        <div>Description: <%=job.description %></div>
        <div>Location: <%=job.location%></div>
        <div>Offered pay: $<%=job.offer%></div>
    </div>
   
</div>
<dialog class="listingpopup">
    <form method="dialog">
    <div class="topRow">
        <div><%=job.title%></div>
        <div><%=job.date%></div>
     </div>
 
     <div class="bottomRow">
         <div>Description: <%=job.description %></div>
         <div>Location: <%=job.location%></div>
         <div>Offered pay: $<%=job.offer%></div>
     </div>
     <div>
        <button >Close</button>
     </div>
     </form>
</dialog>