<%- include('templates/header') %>
 

<body>
   <%- include('templates/nav') %>

    <header>
        <h1>Profile of <%= member.name %></h1>
    </header>
    <div class="profile-container">
        <img src="<%= member.profilePicture %>" alt="<%= member.name %>'s Profile Picture" style="width: 200px; height: auto; border-radius: 50%;">
        <h2>Welcome, <%= member.username %>!</h2>
        <p><strong>First Name:</strong> <%= member.firstname %></p>
        <p><strong>Last Name:</strong> <%= member.lastname %></p>
        <p><strong>Email:</strong> <%= member.email %></p>
    </div>
<%- include('templates/footer') %>