<%- include('templates/header') %>
<%- include('templates/nav') %>


    <h2>Recommended Tasks</h2>


    
        <div id="RecommendedTaskCards">
            <% tasks.forEach(task => { %>
                <div id="<%= task._id %>" class="card">
                    <h3><%= task.title %></h3>
                    <p><%= task.description %></p>
                    <p><%= task.Date %></p>
                    <p><%= task.location %></p>
                    <p><%= task.offer %></p>
                    <a onclick="" href="/AcceptTaskHandler/<%= task._id %>">Accept Task</a>
                    <button onclick="decline(`<%= task._id %>`)" >Decline Task</button>
                </div> 
                
                <% }) %>
        </div> 

        <div>
            <a href='/recommend'>Generate New</a>
        </div>
        
        <script>
            function decline(id){

                document.getElementById(id).style.display = "none";

            }
        </script>







<%- include('templates/footer') %>