<%- include('templates/header') %>
<<<<<<< HEAD:views/recomendTasks.ejs
<%- include('templates/nav') %>


    <h2>Recommended Tasks</h2>


    
=======
    <%- include('templates/nav') %>

  
        <h2>Recommended Tasks</h2>


>>>>>>> fea0f18 (Minor speeling changes to recommendtasks):views/recommendTasks.ejs
        <div id="RecommendedTaskCards">
            <% tasks.forEach(task => { %>
                <div class="card">
                    <h3><%= task.title %></h3>
                    <p><%= task.description %></p>
                    <p><%= task.Date %></p>
                    <p><%= task.location %></p>
                    <p><%= task.offer %></p>
                    <p><%= task.id %></p>
                    <a onclick="bang()" href="/AcceptTaskHandler/<%= task._id %>">Accept Task</a>
                </div> 
                
                <% }) %>
                
       
        </div> 
        
        <script>
            function bang(){
                console.log("button clicked");
            }
            </script>







<%- include('templates/footer') %>