<%- include('templates/header') %>
<%- include('templates/nav') %>


    <h2>Recommended Tasks</h2>


    
        <div id="RecommendedTaskCards">
            <% tasks.forEach(task => { %>
                <div id="<%= task._id %>" class="card">
                    <h3><%= task.title %></h3>
                    <p><%= task.description %></p>
                    <p><%= task.Date %></p>
                    <p><%= task.location %></p>
                    <p><%= task.offer %></p>
                    <a onclick="" href="/AcceptTaskHandler/<%= task._id %>">Accept Task  </a>
                    <a onclick="" href="/removefromsession/<%= task._id %>">Decline Task  </a>
   
                </div> 
                
                <% }) %>
        </div> 

        <% if (tasks.length === 0) { %>
        <div>
            <a href='/recommend'>Generate New</a>
        </div>
        <% } %>
        
      
       







<%- include('templates/footer') %>