<%- include('templates/header') %>
    <%- include('templates/nav') %>
        <main>
            <div class="card1">
                <header class="left">
                    <h2>All Tasks</h2>
                </header>
            </div>

                <!-- Tasks In Progress -->
                    <div class="card5">
                        <div class="left">
                            <h3>Posted Tasks</h3>
                        </div>
                    </div>
                    
                    
                    <% usersTasks.forEach(task=> { %>
                        <div class="card2">
                            <div class="left">
                                <h3><%= task.title %></h3>
                            </div>
                            <div class="right w column2">
                                <h4>Task Description:</h4>
                                <p><%= task.description %></p>
                                <br>
                                <p><%= task.Date %></p>
                                <br>
                                <h4>Price:</h4>
                                <p>$<%= task.offer %></p>
                                <br>
                                <h4>Status:</h4>
                                <p><%= task.status %></p>
                            </div>
                        </div>
                        <% }) %>
                <!-- Pending Tasks -->
    
                    <div class="card5">
                        <div class="left">
                            <h3>Pending Tasks</h3>
                        </div>
                    </div>
                    <% usersTasks.forEach(task=> { %>
                        <% if(task.acceptedby) { %>
                            <div class="card2">
                                <div class="left">
                                    <h3><%= task.title %></h3>
                                </div>
                                <div class="right w column2">
                                    <h4>Task Description:</h4>
                                    <p><%= task.description %></p>
                                    <br>
                                    <p><%= task.Date %></p>
                                    <br>
                                    <h4>Price:</h4>
                                    <p>$<%= task.offer %></p>
                                    <br>
                                    <h4>Status:</h4>
                                    <p>In Progress</p>
                                    <br>
                                    <h4>Being Completed By:</h4>
                                    <p><%= task.acceptedby %></p>
                                </div>
                            </div>
                    <% }}) %>


                <!-- Completed Tasks -->
                <div class="card5">
                    <div class="left">
                        <h3>Completed Tasks</h3>
                    </div>
                </div>
                    
                    <div id="PendingTaskCards" class="right">
                        <% usersTasks.forEach(task=> { %>
                            <% if(task.completed == true) { %>
                                <div class="right w column2">
                                    <h4>Task Description:</h4>
                                    <p><%= task.description %></p>
                                    <br>
                                    <p><%= task.Date %></p>
                                    <br>
                                    <h4>Price:</h4>
                                    <p>$<%= task.offer %></p>
                                    <br>
                                    <h4>Status:</h4>
                                    <p><%= task.status %></p>
                                    <br>
                                    <h4>Being Completed By:</h4>
                                    <p><%= task.acceptedby %></p>
                                </div>
                        <% }}) %>
                    </div>
        </main>

        <%- include('templates/footer') %>